.select-dropdown-input-container {
    display: none;
}

.sidebar-container > .table-list {
    display: none;
}

.filter-box .search {
    display: none;
}

.project-header {
    display: flex;
    padding: 8px 8px
}

#main {
    display: flex;
    flex-direction: column;
}

.page-header ul li:nth-child(n+2){
    display: none;
}
