.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.add-checklist {
    padding: 20px 20px 20px 0;
    list-style: none;
}

.add-checklist li:not(:last-child) {
    margin-bottom: 10px;
}

.add-checklist-button {
    display: block;
    line-height: 35px;
    font-weight: 300;
    background: transparent;
    border: none;
    color: var(--color-light);
    cursor: pointer;
}

.add-checklist-button:hover {
    color: var(--sidebar-menu-hover-color);
}

.add-checklist-button::before {
    margin-right: 5px;
}

.checklist-item--delete::before {
    content: "\f00d";
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    margin-left: 4px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.checklist .checklist-table-td {
    display: flex;
    align-items: baseline;
}

.checklist-item,
.new-checklist-item {
    display: flex;
    align-items: center;
}