.fullname {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.contact-info {
    font-size: 14x;
    margin: 12px 0;
    color: black;
}

.user-profile-container {
    display: grid;
    grid-template-columns: 1f 1f 1f;
}

.user-info-column {
    grid-column: 1;
}

.user-data-column-1 {
    grid-column-start: 2;
}

.user-data-column-2 {
    grid-column: 3;
}