   /* Стили для основного контейнера dropdown */

   .dropdown {
       position: relative;
       display: inline-block;
   }

   /* Стили для кнопки, отображаемой в dropdown */

   .dropdown-button,
   .dropdown-button-two {
       padding: 10px;
       text-decoration: none;
       color: black;
       font-size: 15px;
       font-weight: 700;
       border: none;
       cursor: pointer;
       border: black;
       border-width: 2px;
       border-style: solid;
       display: block;
   }

   .dropdown-button,
   .dropdown-button-two :hover {
       color: black;
   }

   .dropdown-button-two {
       margin-left: 10px;
       display: none;
   }

   /* Стили для контейнера, который содержит элементы в выпадающем списке */

   .dropdown-content,
   .dropdown-content-two {
       display: none;
       position: absolute;
       background-color: #f9f9f9;
       box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
       min-width: 160px;
       z-index: 1;
       overflow: scroll;
       max-height: 200px;
   }

   /* Стили для элементов в dropdown */

   .dropdown-item {
       padding: 12px;
       text-decoration: none;
       display: block;
       color: #333;
   }

   /* При наведении на элемент списка изменить цвет фона */

   .dropdown-item:hover {
       background-color: #ddd;
   }

   .show {
       display: block;
   }

   .target {
       border-width: 2px;
       border-color: black;
       border-style: solid;
       padding: 5px;
       margin-right: 7px;
       border-radius: 15px;
       margin-bottom: 4px;
       margin-top: 4px;
       cursor: pointer;
   }

   .recurrence_task h5 {
       margin: 0;
   }

   .who-select,
   .who-ignore {
       display: flex;
       flex-flow: wrap;
       align-items: center;
   }

   .recurrence_task {
       border-style: solid;
       border-width: 1px;
       padding: 5px;
       margin-bottom: 5px;
   }

   .file-button {
       padding: 10px;
       color: white;
       background: #55b6e7;
       text-decoration: none;
       display: inline-block;
   }

   .file-field {
       display: flex;
       align-items: center;
   }

   .close_button {
       cursor: pointer;
       position: absolute;
       top: 0;
       right: 0;
       color: red;
       margin-right: 5px;
   }

   .select_target {
       margin-right: 10px;
   }

   #thumbnails {
       display: flex;
   }

   #thumbnails>div {
       width: 85px;
       margin-left: 10px;
       background: #0df2c9;
       padding: 5px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       position: relative;
   }

   #thumbnails>div>.file_name {
       overflow-x: clip;
       white-space: nowrap;
       width: 100%;
       text-overflow: ellipsis;
   }

   #thumbnails>div>img {
       width: 75px;
       height: 75px;
       width: 100%;
       object-fit: contain;
   }