/* Стили для элементов в dropdown FixerMobile*/
.views .desktop-ver{
    display: inline;
}
.views .mobile-ver{
    display: none;
}
@media (max-width:480px) {
    .views .desktop-ver{
        display: none;
    }
    .views .mobile-ver{
        display: block;
    }
}