.communication {
    position: relative;
    padding: 15px;
    list-style: none;
}

.reports .communication-status {
    position: absolute;
    top: 15px;
    right: 15px;
    color: var(--pp-white);
    background: var(--pp-blue);
    padding: 5px;
}

.reports .communication-status {
    position: absolute;
    top: 15px;
    right: 15px;
    color: var(--pp-white);
    background: var(--pp-blue);
    padding: 5px;
}

#reportsFilters {
    margin-bottom: 40px;
}

.scrollable {
    overflow: scroll;
    max-height: 180px;
}
.date-select label {
    display: inline!important;
    padding: 4px;
    background-color: #eee;
}

.date-select input[type=radio] {
    display: none;
}

input[type=radio]:checked+label {
    color: var(--sidebar-menu-hover-color);
    background-color: #ccc;
}

.date-select {
    margin-top: 12px;
}

.activities ul {
    list-style: none;
}

.activities-item {
    vertical-align: center;
}

.activities-item.activity p {
    padding: 5px;
}

.activities-item.activity {
    display: flex;
    font-weight: 400;
    color: var(--color-light);
    padding: 10px;
}

.activities-item .activity-date::after {
    content: "—";
    margin-left: 5px;
}

.activities-item .activity-event {
    background: none;
    vertical-align: center;
}

input[type="date"].date-picker {
    width: 140px;
}

 .topbar-container {
     width: 100%;
     display: flex;
     flex-flow: column;
 }

@media (max-width: 768px) {
    .topbar-container {
        flex-flow: wrap
    }
}

.topbar-content {
    padding-top: 10px;
    flex: 100% 1;
    max-height: 85%;
    overflow-wrap: break-word
}

@media (max-width: 768px) {
    .topbar-content {
        padding-top: 0;
        order: 1;
        max-height: 100%
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .topbar-content {
        max-height: 75%
    }
}

.topbar {
    max-height: 25%;
    min-height: 30px
}

@media (max-width: 768px) {
    .topbar {
        flex: auto 1;
        order: 2
    }
}

.topbar h2 {
    margin-top: 0
}

.topbar ul {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.topbar>ul a {
    text-decoration: none;
    color: var(--color-light);
    font-weight: 300;
}

.topbar>ul a:hover {
    color: var(--color-primary);
}

.topbar>ul li {
    display: flex;
    list-style-type: none;
    line-height: 35px;
    border-right: 1px dotted var(--sidebar-border-color);
    padding-top: 5px;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
}

.topbar>ul li:hover {
    border-top: 5px solid #555;
    padding-top: 0px
}

.topbar>ul li.active {
    border-top: 5px solid #333;
    padding-top: 0px
}

.topbar>ul li.active a {
    color: var(--color-primary);
    font-weight: 400
}

.topbar-icons>ul li {
    padding-top: 0
}

.topbar-icons>ul li:hover,
.topbar-icons>ul li.active {
    padding-top: 0;
    border-top: none
}

.topbar>ul li.active a:focus,
.topbar>ul li.active a:hover {
    color: var(--color-medium);
}

.topbar>ul li:last-child {
    margin-right: 15px
}

.scrollable {
    overflow: scroll;
    max-height: 180px;
}
.date-label {
    display: inline!important;
    padding: 4px;
    background-color: #eee;
}

.date-label:hover {
    text-decoration: underline;
}

input[type=radio]:checked+label {
    color: black;
    background-color: #ccc;
    text-decoration: underline;
}

.date-select {
    margin-top: 12px;
}

.button-filters {
    position: relative;
    top: 10px;
    font-size: 100%;
    background: #eee;
    cursor: pointer;
}

.button-filters:hover {
    color: #eee;
    background: #959595;
}

.button-filters:active {
    color: #eee;
    background: #838383;
}

.reports {
    width: 80%;
}

.reports .user {
    display: flex;
    padding: 10px;
}

.user,
.report-title {
    background: #dadada;
}

.user {
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}

.user--close.user::after {
    content: '';
    position: absolute;
    top: 15px;
    right: 10px;
    display: block;
    background: url("drop-down.png") no-repeat;
    background-size: 20px, 20px, contain;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transform: rotate(0);
}

section .user::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 10px;
    display: block;
    background: url("drop-down.png") no-repeat;
    background-size: 20px, 20px, contain;
    width: 20px;
    height: 20px;
    cursor: pointer; 
    transform: rotate(180deg);
}

.user--close + .report-item,
.user--close + .reports-items {
    display: none;
}

.user p:nth-child(2) {
    margin-left: 15px;
}

.user p:nth-child(2)::before {
    position: relative;
    content: '—';
    right: 5px;
}

.report-title {
    padding: 10px;
}

.report-item {
    padding: 15px;
    border: 1px solid #bbbbbb;
}

.report-item .report-status {
    color: orangered;
}


/* Стили таблицы (IKSWEB) */
table.iksweb{text-decoration: none;border-collapse:collapse;width:100%;text-align:center;}
table.iksweb th{font-weight:500;font-size:14px; color:#000000;background-color:#9cc4db;}
table.iksweb td{font-size:15px;color:#354251;}
table.iksweb td,table.iksweb th{white-space:pre-wrap;padding:10px 5px;line-height:15px;vertical-align: middle;border: 1px solid #b1bcc4;}	table.iksweb tr:hover{background-color:#f9fafb}
table.iksweb tr:hover td{color:#195c8c;cursor:pointer;}
.mobile-table{width: 100%; max-width: 100%; overflow-x: auto;}

.form-field {
    display: flex;
    align-items: center;
    vertical-align: middle;
    column-gap: 10px;
}