.grid-container {
    display: grid;
    grid-template-columns: 200px 200px;
}

.grid-box-row-1 {
    grid-row: 1;
}

.grid-box-row-2 {
    grid-row: 2;
}

.count-container {
    margin: 12px;
    border-radius: 15px;
    background-color: aliceblue;
    padding: 16px;
}

.count-container-label {
    font-style: bold;
    font-size: 16px;
}

.count {
    color:black;
    font-size: 48px;
    text-align:end;
    margin: 8px;
}