/* 

    Kanboard Theme Maestro by Fx

    https://github.com/JustFxDev/ThemeMaestro

    v0.9.0 - 03/2023

    to use white background with with border color for the tasks
    on the taskboard install the latest colormanager plugin and
    set bright-white as default task color

    https://github.com/aljawaid/ColorManager

*/


/*  main colors and vars include your favorit color_name.css here */

/* @import url("./red.css"); */
@import url("./blue.css");
/* @import url("./green.css"); */

/*  Include column header colors for all boards and         */
/*  column header colors for specific boards                */
/*  if you wish to have different header colors per column  */

/* @import url("./column_colors_multi.css"); */
@import url("./column_colors_none.css");

:root {
    --form-fields-border-radius: 4px;
}

body{
    background: var(--light-gray);
    padding: 0;
}

/* views */

.views li:hover {
    background: var(--views-menu-hover-color);
    border-top-color: var(--board-2ndheader-color);
    border-bottom-color: var(--board-2ndheader-color);
}

.views a:hover {
    border: 6px;
    text-decoration: none!important;
}

.views li.active, .views li.active a, .views li.active i.fa {
    color: #ffffff;
    text-decoration: none;
    background-color: var(--views-menu-hover-color);
    font-weight: 400;
    border: 4px;
    border-color: #ffffff;

}

/* drop down menu for projects */
#select-dropdown-menu {
    min-height: 200px;
    overflow: auto;
}

/* header */

#main > .page-header, .page > .page-header {
    background-color: var(--board-2ndheader-color);
    border-radius: 0px;
}

header{
    background: var(--board-header-color);
    border: none;
    margin: 0;
    padding: .4em .5em .5em;
}

header h1 {
    font-size: 1.2em;
    font-weight: 700;
}

.title-container .fa-info-circle{
    color: var(--darker-font);
}

header .title-container {
    display: flex;
    align-items: center;
}

.select-dropdown-input-container, .select-dropdown-input{
    background: var(--lighter-gray);
}

::-webkit-input-placeholder { /* Edge */
    color: var(--darker-font) !important;
}

::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--darker-font) !important;
}

::placeholder {
    color: var(--darker-font) !important;
}

.select-dropdown-chevron, .select-dropdown-input{
    color: var(--darker-font) !important;
}

a i.web-notification-icon {
    color: var(--light-orange);
}

a i.web-notification-icon:hover {
    color: var(--middle-orange);
}

/* project header */

.board-column-title .fa.fa-caret-down {
    color: var(--board-column-header-font-color);
    padding-right: 3px;
    padding-left: 2px;
}

.project-header{
    margin: 0;
    margin-top: -2em;
    padding: .4em .5em;
    background-color: var(--board-2ndheader-color);
}

.project-header .filter-box .input-addon-field{
    padding: 4px .75em !important;
    height: 16px;
}

.project-header .search .input-addon-item{
    padding: 4px .75em !important;
    height: 16px;
}

/* Board adjustments */
table th {
    background: var(--board-column-header-color);
    font-size: 14px;
    color: var(--board-column-header-font-color);
    padding: 1.3em .7em 1em;
}

table th, table td{
    border: none;
}

table td{
    padding: 0;
}

.board-swimlane-header{
    background: var(--middle-gray);
    color: var(--dark-font);
    padding: .5em;
    font-weight: 700;
    min-height: 9px;
    text-align: center;
}

td.board-column-task-collapsed, .board-container-compact, #board-container{
    background: var(--light-gray);
}

.board-container-compact, #board-container{
    margin-bottom: -2em;
}
td .board-column-collapsed{
    background: var(--light-gray);
}

th.board-column-header-collapsed
{
    padding: 0;
}

div.board-add-icon{
    float: right;
}
.board-add-icon i {
    color: var(--board-column-header-font-color);
    font-size: 1.1em;
}
.board-add-icon i:hover {
    color: unset;
}
.board-column-header-task-count {
    padding-left: 5px;
}


/* tasks */

.task-board-category a:hover {
    text-decoration: unset;
}

.task-board:last-child {
    margin-bottom: 2.5em !important;
}

.draggable-placeholder{
    border:none;
    border-radius: 10px;
    background:var(--middle-gray);
    height:70px;
    margin:10px;
}

.task-board-title a:hover {
    text-decoration: none;
}

.task-board, .task-summary-container, #external-task-view{
    background: var(--task-card-bg) !important;
    border:none;
    border-left: 1px solid;
    border-left-width: 8px !important;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    border-radius: 7px;
    margin: 8px 13px;
    padding: .5em;
}

.task-board-status-closed, .task-board-recent{
    border-top: none !important;
    border-bottom: none!important;
    border-right: none!important;
}

#external-task-view{
    margin: 1.5em;
    border: unset;    
    padding: .1px 1em;
}

/* overview */

.project-overview-columns{
    background: var(--board-column-header-color);
    margin: 0;
}
.project-overview-column{
    border-left: 1px solid var(--middle-gray);
    color: var(--board-column-header-font-color);
    margin: 0;
    padding: .3em 2em;
}

.project-overview-column strong {
    color: var(--board-column-header-font-color);
}    

.project-overview-column small {
    color: var(--board-column-header-font-color);
}    

.project-overview-column:last-child{
    border-right: 1px solid var(--middle-gray);
}

.accordion-section{
    background: var(--task-card-bg);
    padding: 0;
}

.accordion-title{
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    outline: none;
}
.accordion-content{
    padding: 1em 1em .5em;
    margin: 0;
}
.accordion-content td, .accordion-content th, .sidebar-content td, .sidebar-content th, .table-small td, .table-small th{
    padding: .5em .7em;
    border: none;
    border-bottom: 1px solid var(--middle-gray);
}

/* list */

.table-list{
    background:  var(--task-card-bg);
    margin: 0;
}

.table-list-header{
    background: var(--lighter-gray);
    border: none;
    padding: 1.3em .7em 1em;
    line-height: unset;
    border-radius: unset;
}

.table-list-row{
    border: none;
    border-bottom: 1px solid var(--middle-gray);
    padding: .5em .4em;
    border-left-width: 8px !important;
    border-radius: unset !important;
}

.table-list-row.table-border-left
{
    border-left: none;
}

.table-list-row:hover{
    border-right: none;
    border-bottom-color: var(--middle-gray);
    background: var(--activity-event-hover-color);
}

.table-list-details:not(:last-child){
    float: left;
}

/* sidebar container */

.sidebar-container {
    margin-left: 10px;
}

.page{
    background: var(--task-card-bg);
    padding: 2em 0;
    margin: 0px;
}

#main > .page-header, .page > .page-header{
    margin: 0em 0 2em;
    /* background: var(--board-2ndheader-color); */
    padding: .5em .7em .7em;
}

.page-header:not(:first-of-type)
{
    margin: 2em 0 1em;
}

.page-header h2
{
    border: none;
    
}

#main input, .page input{
    box-shadow: none !important;
}

.search{
    margin: 1em 0 3em;
}

.filterbox .search input, .search .input-addon-item{
    padding: .5em .7em;
}

/* sidebar links */

/* can not react on text to hover icon also depends on html <a> nesting i guess */
.sidebar > ul li:hover, .sidebar > ul a:hover, .sidebar > ul > li a:hover {
    color: var(--sidebar-menu-hover-color);
    font-weight: var(--font-weight-hover);
    text-decoration: none;
}

.sidebar > ul li.active a {
    color: var(--sidebar-menu-hover-color);
    font-weight: var(--font-weight-hover);
}

/* task details */

.task-summary-container{
    margin:1.5em;
    padding: 1em;
}

#task-summary{
    background:var(--light-gray) !important;
    border:none;
    padding:0;	
    margin-bottom: 0px;
}

#task-summary h2{
    padding: 1.5em 0 1em;
    margin: 0;
    background:white;
}

.sidebar h2{
    padding: 1em 0 0;
}

/* some extras */

.dropdown-submenu-open a:focus {
    text-decoration: none;
}
.dropdown-submenu-open li:not(.no-hover):hover {
    background: var(--dropdown-menu-hover-background-color);
}

#tooltip-container, #modal-content{
    padding: 1em;
}

#modal-close-button {
    float: right;
    padding: 1.8em 1em;
}

.tooltip .fa-info-circle {
	margin-left: 5px;
	margin-right: 5px;
}

.board-column-title .dropdown-menu {
    text-decoration: none;
    color: #fff;
}

.board-column-header-task-count {
    color: var(--board-column-header-font-color);
}

/* make a missed duedate more visible */
span.task-date-overdue {
	background-color: #ec3737d6;
	border-color: #d81b60!important;
	padding: 1px 3px 1px 3px;
	color: #ffffff;
	border: 1px solid #333;
	border-top-color: rgb(51, 51, 51);
	border-right-color: rgb(51, 51, 51);
	border-bottom-color: rgb(51, 51, 51);
	border-left-color: rgb(51, 51, 51);
	border-radius: 4px;
}

.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 0;
    border: 1px solid var(--button-default-border-color);
    background: var(--button-default-background-color);
    color: var(--button-default-color);
}

/* Project selector */
.select-dropdown-menu-item.active {
    color: var(--dropdown-menu-hover-color);
    background: var(--dropdown-menu-hover-background-color);
}

/* Buttons */
.btn-blue:hover {
    border-color: var(--button-default-border-color);
}

.btn:hover, btn:focus {
    background: var(--button-primary-background-color-focus);
}

.button-minimize {
    background-color: #eeeeee;
    color: var(--dark-font);
}

.button-minimize:hover {
    background-color: #888888;
}

.search {
    margin-left: 10px;
}
table th a {
    text-decoration: none;
    color: var(--board-column-header-font-color)!important;
}

table th a:focus, table th a:hover  {
    text-decoration: none;
}

.comments .comment:nth-child(even):not(.comment-highlighted):hover {
    background: var(--activity-event-hover-color);
}

.comments .comment:nth-child(odd):not(.comment-highlighted):hover {
    background: var(--activity-event-hover-color);
}

/* Edit task dlg */
/* Colorselect dropdown */

#modal-content a {
    color: var(--link-color-hover);
    text-decoration: none;
}

#modal-content a:hover {
    color: var(--link-color-hover);
    text-decoration: underline;
}

#modal-content .select2-container {
    width: 190px!important;
    height: 26px;
}

#modal-content #form-owner_id, 
#modal-content #form-category_id,
#modal-content #form-column_id,
#modal-content #form-priority {
    background-color: white;
    height: 28px;
    border-radius: var(--form-fields-border-radius);
    border-color: #CCCCCC;
    border-width: 1px;
    color: #000000;
}

#modal-content #form-date_due,
#modal-content #form-date_started, 
#modal-content #form-time_estimated,
#modal-content #form-time_spent,
#modal-content #form-score, 
#modal-content #form-reference {
    border-radius: var(--form-fields-border-radius);
    height: 25px;
}

#modal-content #form-category_id,
#modal-content #form-column_id,
#modal-content #form-priority {
    width: 190px;
}
#modal-content #form-title,
.text-editor-write-mode > textarea {
        border-radius: 4px;
}

#modal-content #form-score {
    width: 150px;
}

/* resize tag input field */
#modal-content .select2-container--default, #modal-content .select2-selection--multiple {
    width: 725px!important;
    max-width: 98%;   
}

/* MetaMagik custom fields in task edit dlg (fx) */
#form-metamagikkey_Zieldatum, 
#form-metamagikkey_Geschlossen, 
#form-metamagikkey_Initiiert, 
#form-metamagikkey_PGM {
    border-radius: var(--form-fields-border-radius);
    width: 290px;
}
/* make modal background for dialogs lighter */
#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    overflow: auto;
    z-index: 100;
}

/* plugin manager plugin */
.plugin-type-count-icon svg {
    color: var(--blue-icon-dark);
}

.plugin-type-count-total {
    background-color: var(--blue-border-gradient-match);
    color: var(--pp-white);
}

.available-plugins-author > .plugin-type > .bi-plugin {
    color: var(--pp-white);
}

.available-plugins-author svg.octicon-law, .plugin-type svg {
    fill: var(--pp-white);
    color: var(--pp-white);
}

th.plugin-structure, th.plugin-status, th.plugin-last-updated {
    border-bottom: 0 !important;
    font-weight: 600;
    color: var(--pp-white);
    position: relative;
}

#InstalledPluginsTable > thead > tr > th {
    border: unset;
    background: var(--board-column-header-color) !important;
    color: var(--pp-white);
    text-shadow: unset;
    font-weight: 600;
    box-shadow: unset;
    padding: var(--table-head-padding);
}

#PluginSideBar > ul li.active > a svg {
    color: var(--views-menu-hover-color);
    fill: var(--views-menu-hover-color);
}

/* buttons */
.install-date {
    width: 120px;
    min-width: 120px;
    font-size: 13px;
    max-width: unset;
}

.btn-uninstall {
    width: 120px;
    max-width: 120px;
    font-size: 13px;
}
